.App {
  text-align: center;
  text-shadow: -2px -2px 0 #000000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  margin: 0;

}

.Body {
  background-size: 100% 100%;
  margin: 0;
}

.bgspan {
  background-color: #00000045;
  outline: auto;
  outline-style: dotted;
  outline-color: rgba(255, 255, 255, 0.21);
}

p {
  z-index: 1;
  padding-left: 5dvb;
  padding-right: 5dvb;
}

.App-logo {
  z-index: 1;
  height: 20vmin;
  pointer-events: none;
  image-rendering: pixelated;
}

.Cw {
}

.Ccw {
}

@media (prefers-reduced-motion: no-preference) {
  .Cw {
    animation: App-logo-spin-cw 0.2s linear;
  }
  .Ccw {
    animation: App-logo-spin-ccw 0.2s linear;
  }
}

@keyframes App-logo-spin-cw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-ccw {
  from {
    transform: rotate(360deg);
    
  }
  to {
    transform: rotate(0deg);
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.UnderlayStarsignImage {
  height: 50dvb;
  opacity: 50%;
  position: fixed;
  bottom: 5dvb;

  clip-path: ellipse(50% 50% at 50% 50%);

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.StarsignImage {
  height: 50dvb;
  opacity: 80%;
  position: fixed;
  bottom: 5dvb;
}

.Unselectable {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}